@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid #444;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
